<h1><%= current_user.username %></h1>
<div class="row">
  <ul class="medium-block-grid-4">
    <% current_user.trivia_facts.each do |trivia| %>
      <li>
        <div class="flip">
          <div class="card">
            <div class="face front">
                <%= trivia.question %>
            </div>
            <div class="face back">
                <%= trivia.answer %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Trivia', trivia_facts_path %>

