<h1><%= current_user.username %></h1>

<% current_user.trivia_facts.each do |trivia| %>
  <ul>
    <li><%= trivia.question %></li>
    <li><%= trivia.answer %></li>
  </ul>
<% end %>
<%= link_to 'Trivia', root_path %>
