<h1>Trivia</h1>



<% @trivia_facts.each do |trivia| %>
  <ul>
    <li>Question: <%= trivia.question %></li>
    <li>Answer: <%= trivia.answer %></li>
    <li>Validity: <%= trivia.rank %></li>
  </ul>
<% end %>
